.row
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20(ng-show="creando" )
			.panel-heading Nuevo usuario

			.panel-body
				div
					form(ng-submit="guardarUsuario()")

						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nombres
									input(ng-model="usuarioNuevo.nombres")

							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Apellidos
									input(ng-model="usuarioNuevo.apellidos")

							.col-lg-4.col-sm-6
								md-radio-group(ng-model="usuarioNuevo.sexo")
									.row
										.col-lg-x.col-md-6.col-sm-6.col-xs-12
											md-radio-button(value="M") Masculino
										.col-lg-4.col-md-6.col-sm-6.col-xs-12
											md-radio-button(value="F") Femenino

						.row
							.col-lg-3
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nombre usuario
									input(ng-model="usuarioNuevo.username")
						
							.col-lg-3
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Contraseña
									input(ng-model="usuarioNuevo.password" type="password")
							.col-lg-3
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Repita contraseña
									input(ng-model="usuarioNuevo.password_confirm" type="password")

							.col-lg-3
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Email
									input(ng-model="usuarioNuevo.email")
						.row
							.form-group.col-lg-8.col-sm-12.col-xs-12
								label Tipo usuario
								ui-select(ng-model="usuarioNuevo.tipo" style="margin: 0!important;width: 100%; padding-bottom: 0!important")
									ui-select-match(placeholder="Tipo usuario" allow-clear="true") {{$select.selected.tipo}}
									ui-select-choices(repeat="tipo in tipos_usuarios | filter: $select.search")
										div(ng-bind-html="tipo.tipo | highlight: $select.search")
						.row
							.form-group.col-lg-4.col-sm-12.col-xs-12
							
								ui-select(ng-model="usuarioNuevo.tipo_doc" style="margin: 0!important;width: 100%; padding-bottom: 0!important")
									ui-select-match(placeholder="Tipo documento" allow-clear="true") {{$select.selected.tipo}}
									ui-select-choices(repeat="tipo in tipos_doc | filter: $select.search")
										div(ng-bind-html="tipo.tipo | highlight: $select.search")
							.col-lg-4.col-sm-12.col-xs-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Número de documento
									input(ng-model="usuarioNuevo.num_doc")


						.row
							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Pais de documento
								ui-select(ng-model="usuarioNuevo.pais_doc" on-select="paisdocSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Pais" allow-clear="true") {{$select.selected.pais}}
									ui-select-choices(repeat="paisdoc in paises | filter: $select.search")
										div(ng-bind-html="paisdoc.pais | highlight: $select.search")

							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Departamento documento
								ui-select(ng-model="usuarioNuevo.depart_doc" on-select="departamentoDocSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Departamento" allow-clear="true") {{$select.selected.departamento}}
									ui-select-choices(repeat="departdoc in departamentos_doc | filter: $select.search")
										div(ng-bind-html="departdoc.departamento | highlight: $select.search")

							.form-group.col-lg-4.col-sm-12.col-xs-12
								label Ciudad de documento
								ui-select(ng-model="usuarioNuevo.ciudad_doc" style="width: 100%;")
									ui-select-match(placeholder="Ciudad" allow-clear="true") {{$select.selected.ciudad}}
									ui-select-choices(repeat="ciudaddoc in ciudades_doc | filter: $select.search")
										div(ng-bind-html="ciudaddoc.ciudad | highlight: $select.search")

						.row
							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Pais de nacimiento
								ui-select(ng-model="usuarioNuevo.pais" on-select="paisSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Pais" allow-clear="true") {{$select.selected.pais}}
									ui-select-choices(repeat="pais in paises | filter: $select.search")
										div(ng-bind-html="pais.pais | highlight: $select.search")

							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Departamento
								ui-select(ng-model="usuarioNuevo.depart_nac" on-select="departamentoSeleccionado($item, $model)" style="width: 100%;padding-bottom: 0")
									ui-select-match(placeholder="Departamento" allow-clear="true") {{$select.selected.departamento}}
									ui-select-choices(repeat="depart in departamentos | filter: $select.search")
										div(ng-bind-html="depart.departamento | highlight: $select.search")

							.form-group.col-lg-4.col-sm-12.col-xs-12
								label Ciudad de nacimiento
								ui-select(ng-model="usuarioNuevo.ciudad_nac" style="width: 100%;")
									ui-select-match(placeholder="Ciudad" allow-clear="true") {{$select.selected.ciudad}}
									ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
										div(ng-bind-html="ciudad.ciudad | highlight: $select.search")
						.row
							.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
								.form-group
									label(for="usuarionew-fecha-nacimiento") Fecha de nacimiento
										.controls
											.input-group
												span.input-group-addon(ng-click="data.isOpen = true")
													i.fa.fa-calendar
												input.form-control.active#usuarionew-fecha-nacimiento(type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="usuarioNuevo.fecha_nac" is-open="data.isOpen" ng-click="data.isOpen = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha nacimiento")
							
						
						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Teléfono 1
									input(ng-model="usuarioNuevo.telefono1")

							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Teléfono 2
									input(ng-model="usuarioNuevo.telefono2")
					

						.row
							.col-lg-12(style="text-align: center;margin-bottom: 40px")
								md-button.md-raised.md-default(type="button" ng-click="creando=false") Cancelar

								md-button.md-raised.md-primary(type="submit" ng-disabled="guardando") Guardar

.row
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20(ng-show="editando" )
			.panel-heading Editar usuario

			.panel-body
				div(ng-show="editando")
					form(ng-submit="actualizarUsuario()")
						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nombres
									input(ng-model="usuarioActualizar.nombres")
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Apellidos
									input(ng-model="usuarioActualizar.apellidos")
						
							.col-lg-4
								md-radio-group(ng-model="usuarioActualizar.sexo")
									.row
										.col-lg-4.col-md-6.col-sm-6.col-xs-12
											md-radio-button(value="M") Masculino
										.col-lg-4.col-md-6.col-sm-6.col-xs-12
											md-radio-button(value="F") Femenino
						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nombre usuario
									input(ng-model="usuarioActualizar.username")
						
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Password
									input(ng-model="usuarioActualizar.password")
							.col-lg-3
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Repita contraseña
									input(ng-model="usuarioActualizar.password_confirm" type="password")

							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Email
									input(ng-model="usuarioActualizar.email")
						.row
							.form-group.col-lg-8.col-sm-12.col-xs-12
								label Tipo usuario
								ui-select(ng-model="usuarioActualizar.tipo" style="margin: 0!important;width: 100%; padding-bottom: 0!important")
									ui-select-match(placeholder="Tipo usuario" allow-clear="true") {{$select.selected.tipo}}
									ui-select-choices(repeat="tipo in tipos_usuarios | filter: $select.search")
										div(ng-bind-html="tipo.tipo | highlight: $select.search")

						.row
							.form-group.col-lg-4.col-sm-12.col-xs-12
							
								ui-select(ng-model="usuarioActualizar.tipo_doc" style="margin: 0!important;width: 100%; padding-bottom: 0!important")
									ui-select-match(placeholder="Tipo documento" allow-clear="true") {{$select.selected.tipo}}
									ui-select-choices(repeat="tipo in tipos_doc | filter: $select.search")
										div(ng-bind-html="tipo.tipo | highlight: $select.search")
						
							.col-lg-4.col-sm-12.col-xs-12
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Numero de documento
									input(ng-model="usuarioActualizar.num_doc")

							


						.row
							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Pais de documento
								ui-select(ng-model="usuarioActualizar.pais_doc" on-select="paisdocSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Pais" allow-clear="true") {{$select.selected.pais}}
									ui-select-choices(repeat="paisdoc in paises | filter: $select.search")
										div(ng-bind-html="paisdoc.pais | highlight: $select.search")

							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Departamento documento
								ui-select(ng-model="usuarioActualizar.depart_doc" on-select="departamentoDocSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Departamento" allow-clear="true") {{$select.selected.departamento}}
									ui-select-choices(repeat="departdoc in departamentos_doc | filter: $select.search")
										div(ng-bind-html="departdoc.departamento | highlight: $select.search")

							.form-group.col-lg-4.col-sm-12.col-xs-12
								label Ciudad de documento
								ui-select(ng-model="usuarioActualizar.ciudad_doc" style="width: 100%;")
									ui-select-match(placeholder="Ciudad" allow-clear="true") {{$select.selected.ciudad}}
									ui-select-choices(repeat="ciudaddoc in ciudades_doc | filter: $select.search")
										div(ng-bind-html="ciudaddoc.ciudad | highlight: $select.search")

						.row
							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Pais de nacimiento
								ui-select(ng-model="usuarioActualizar.pais" on-select="paisSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Pais" allow-clear="true") {{$select.selected.pais}}
									ui-select-choices(repeat="pais in paises | filter: $select.search")
										div(ng-bind-html="pais.pais | highlight: $select.search")

							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Departamento
								ui-select(ng-model="usuarioActualizar.depart_nac" on-select="departamentoSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Departamento" allow-clear="true") {{$select.selected.departamento}}
									ui-select-choices(repeat="depart in departamentos | filter: $select.search")
										div(ng-bind-html="depart.departamento | highlight: $select.search")

							.form-group.col-lg-4.col-sm-12.col-xs-12
								label Ciudad de nacimiento
								ui-select(ng-model="usuarioActualizar.ciudad_nac" style="width: 100%;")
									ui-select-match(placeholder="Ciudad" allow-clear="true") {{$select.selected.ciudad}}
									ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
										div(ng-bind-html="ciudad.ciudad | highlight: $select.search")
						
						.row
							.form-group.col-lg-4.col-sm-6.col-xs-12(style="margin-bottom: 12px;")
								label(for="usuarioact-fecha-nacimiento") Fecha de nacimiento
								.controls
									.input-group
										span.input-group-addon(ng-click="data.isOpen2 = true")
											i.fa.fa-calendar
										input.form-control.active#usuarioact-fecha-nacimiento(type="text" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="usuarioActualizar.fecha_nac" is-open="data.isOpen2" ng-click="data.isOpen2 = true" max-date="'2020-12-12'" datepicker-options="dateOptions" close-text="Aceptar" current-text="Hoy" clear-text="Borrar" placeholder="Fecha Nacimiento")

						
						.row
						
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Telefono 1
									input(ng-model="usuarioActualizar.telefono1")
						
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Telefono 2
									input(ng-model="usuarioActualizar.telefono2")
						
						.row
							.col-lg-12(style="text-align: center;margin-bottom: 40px")
								md-button.md-raised.md-default(type="button" ng-click="editando=false") Cancelar

								md-button.md-raised.md-primary(type="submit" ng-disabled="guardando") Actualizar




.row
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20
			.panel-heading Usuarios
			
			.panel-body(style="overflow: auto")
				
				md-button(ng-click="crearUsuario()" class="md-raised md-primary") Nuevo Usuario

				div(ui-grid="opcionesGrid" ui-grid-edit ui-grid-resize-columns)

