.row.body(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	.col-lg-12.col-sm-12.col-xs-12.marg-pad-0

		.row
			.col-lg-12.col-sm-12.col-xs-12
				img(style="width: 100%" ng-src="{{imagesPath + 'user_1/encabezado_certificado.jpg'}}")
			
		.row

			
			.col-lg-12.col-sm-12.col-xs-12
				center
					h3 Proveedores
			
			
		.row
			.col-lg-12.col-xs-12.marg-pad-0
				table.antecedentes(border="1px solid" style=" width: 100%;")
					thead
						tr
							th
								span.negrita Nombre
							th 
								span.negrita Dirección
							th 
								span.negrita Persona contacto
							th 
								span.negrita Email
							th 
								span.negrita Telefono 1
					tbody
						tr(ng-repeat="prov in proveedores") 
							td {{prov.nombre}} 
							td {{prov.direccion}} 
							td {{prov.persona_contacto}} 
							td {{prov.email}} 
							td {{prov.telefono1}} 

