.row.body(ng-class="{'page-carta-horizontal': config.orientacion=='carta_horizontal', 'page-oficio-horizontal': config.orientacion=='oficio_horizontal','page-vertical': config.orientacion=='vertical', 'salto-pagina': $parent.$last==false }")
	.col-lg-12.col-sm-12.col-xs-12.marg-pad-0

		.row
			.col-lg-12.col-sm-12.col-xs-12
				img(style="width: 100%" ng-src="{{imagesPath + 'user_1/encabezado_certificado.jpg'}}")
			.col-lg-2.col-sm-2.col-xs-2(ng-if="false")
				img(style="width: 3cm" ng-src="{{imagesPath + exameningreso.imagen.nombre}}")

		.row

			
			.col-lg-12.col-sm-12.col-xs-12
				center
					h3 Usuarios del sistema
			
			
		.row
			.col-lg-12.col-xs-12.marg-pad-0
				table.antecedentes(border="1px solid" style=" width: 100%;")
					thead
						tr
							th
								span.negrita Nombre
							th 
								span.negrita Apellidos
							th 
								span.negrita Sexo
							th 
								span.negrita Email
							th 
								span.negrita Telefono 1
					tbody
						tr(ng-repeat="usu in usuarios") 
							td {{usu.nombres}} 
							td {{usu.apellidos}} 
							td {{usu.sexo}} 
							td {{usu.email}} 
							td {{usu.telefono1}} 

