.row
	.col-lg-12(style="margin: 0px 0px 200px")
		.panel.panel-default.panel-hovered.mb20
			.panel-heading Configuraciones

			.panel-body(style="margin: 10px")

				form(ng-submit="guardar()")

					.row
						.col-lg-4
							md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
								label Nombre de empresa
								input(ng-model="configuracion.nombre_ips")

						.col-lg-4
							md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
								label Telefono
								input(ng-model="configuracion.telefono")

						.col-lg-4
							md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
								label Logo
								input(ng-model="configuracion.logo_id")

						
					
					.row
							.col-lg-12

								md-button.md-raised.md-primary(type="submit") Guardar

