.row
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20(ng-show="creando" )
			.panel-heading Nuevo proveedor

			.panel-body
				div
					form(ng-submit="guardarProveedor()")

						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nombre
									input(ng-model="provNuevo.nombre")

							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Dirección
									input(ng-model="provNuevo.direccion")

						.row
							
							.col-lg-3
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Email
									input(ng-model="provNuevo.email")
						
						.row
							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Pais
								ui-select(ng-model="provNuevo.pais" on-select="paisSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Pais" allow-clear="true") {{$select.selected.pais}}
									ui-select-choices(repeat="pais in paises | filter: $select.search")
										div(ng-bind-html="pais.pais | highlight: $select.search")

							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Departamento
								ui-select(ng-model="provNuevo.depart_nac" on-select="departamentoSeleccionado($item, $model)" style="width: 100%;padding-bottom: 0")
									ui-select-match(placeholder="Departamento" allow-clear="true") {{$select.selected.departamento}}
									ui-select-choices(repeat="depart in departamentos | filter: $select.search")
										div(ng-bind-html="depart.departamento | highlight: $select.search")

							.form-group.col-lg-4.col-sm-12.col-xs-12
								label Ciudad
								ui-select(ng-model="provNuevo.ciudad" style="width: 100%;")
									ui-select-match(placeholder="Ciudad" allow-clear="true") {{$select.selected.ciudad}}
									ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
										div(ng-bind-html="ciudad.ciudad | highlight: $select.search")
						

						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Teléfono 1
									input(ng-model="provNuevo.telefono1")

							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Teléfono 2
									input(ng-model="provNuevo.telefono2")
					
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Persona contacto
									input(ng-model="provNuevo.persona_contacto")
					
						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nota
									input(ng-model="provNuevo.nota")


						.row
							.col-lg-12(style="text-align: center;margin-bottom: 40px")
								md-button.md-raised.md-default(type="button" ng-click="creando=false") Cancelar

								md-button.md-raised.md-primary(type="submit" ng-disabled="guardando") Guardar

.row
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20(ng-show="editando" )
			.panel-heading Editar proveedor

			.panel-body
				div(ng-show="editando")
					form(ng-submit="actualizarProveedor()")
						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nombre
									input(ng-model="provActualizar.nombre")
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Dirección
									input(ng-model="provActualizar.direccion")
						
						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Email
									input(ng-model="provActualizar.email")
						

						.row
							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Pais 
								ui-select(ng-model="provActualizar.pais" on-select="paisSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Pais" allow-clear="true") {{$select.selected.pais}}
									ui-select-choices(repeat="pais in paises | filter: $select.search")
										div(ng-bind-html="pais.pais | highlight: $select.search")

							.form-group.col-lg-4.col-sm-6.col-xs-12
								label Departamento
								ui-select(ng-model="provActualizar.departamento" on-select="departamentoSeleccionado($item, $model)" style="width: 100%;")
									ui-select-match(placeholder="Departamento" allow-clear="true") {{$select.selected.departamento}}
									ui-select-choices(repeat="depart in departamentos | filter: $select.search")
										div(ng-bind-html="depart.departamento | highlight: $select.search")

							.form-group.col-lg-4.col-sm-12.col-xs-12
								label Ciudad 
								ui-select(ng-model="provActualizar.ciudad" style="width: 100%;")
									ui-select-match(placeholder="Ciudad" allow-clear="true") {{$select.selected.ciudad}}
									ui-select-choices(repeat="ciudad in ciudades | filter: $select.search")
										div(ng-bind-html="ciudad.ciudad | highlight: $select.search")
						
						
						.row
						
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Telefono 1
									input(ng-model="provActualizar.telefono1")
						
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Telefono 2
									input(ng-model="provActualizar.telefono2")
						
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Persona contacto
									input(ng-model="provActualizar.persona_contacto")
					
						.row
							.col-lg-4
								md-input-container.md-block(flex-gt-sm style="margin: 0!important; padding-bottom: 0!important")
									label Nota
									input(ng-model="provActualizar.nota")

						.row
							.col-lg-12(style="text-align: center;margin-bottom: 40px")
								md-button.md-raised.md-default(type="button" ng-click="editando=false") Cancelar

								md-button.md-raised.md-primary(type="submit" ng-disabled="guardando") Actualizar




.row
	.col-lg-12
		.panel.panel-default.panel-hovered.mb20
			.panel-heading Proveedores
			
			.panel-body(style="overflow: auto")
				
				md-button(ng-click="crearProveedor()" class="md-raised md-primary") Nuevo Proveedor

				div(ui-grid="opcionesGrid" ui-grid-edit ui-grid-resize-columns)

